/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
	border-top: 1px solid #BBBBBB;
}


/* Content */

#content {
	float: left;
	width: 660px;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
}
